{{/* gotype: entgo.io/ent/entc/gen.Type */}}

{{ define "ogent/ogent/helper/delete" }}
	err := h.client.{{ $.Name }}.DeleteOneID(params.{{ $.ID.StructField }}).Exec(ctx)
	{{-
		template "ogent/ogent/helper/error"
		extend $
	"Errors" (list "not-found" "constraint")
	-}}
	return new(Delete{{ $.Name }}NoContent), nil
{{ end }}
