{{ define "ogent/ogent/helper/error" }}{{/* gotype: entgo.io/ent/entc/gen.typeScope */}}
{{- $pkg := base $.Type.Config.Package }}
if err != nil {
	{{- with $.Scope.Tx }}
		if rErr := {{ . }}.Rollback(); rErr != nil {
			return nil, fmt.Errorf("%w: %v", err, rErr)
		}
	{{- end }}
	switch {
	{{- range $err := $.Scope.Errors }}
		{{- if eq $err "constraint" }}
			case {{ $pkg }}.IsConstraintError(err):
				return &R409{
						Code: http.StatusConflict,
						Status: http.StatusText(http.StatusConflict),
						Errors: NewOptString(err.Error()),
					}, nil
		{{- else if eq $err "not-found" }}
			case {{ $pkg }}.IsNotFound(err):
				return &R404{
					Code: http.StatusNotFound,
					Status: http.StatusText(http.StatusNotFound),
					Errors: NewOptString(err.Error()),
				}, nil
		{{- else if eq $err "not-singular" }}
			case {{ $pkg }}.IsNotSingular(err):
				return &R409{
						Code: http.StatusConflict,
						Status: http.StatusText(http.StatusConflict),
						Errors: NewOptString(err.Error()),
					}, nil
		{{- else if eq $err "privacy" }}
			// Privacy error
		{{- end }}
	{{- end }}
	default:
		// Let the server handle the error.
		return nil, err
	}
}
{{ end }}